<!-- templates/index.html -->
{% extend 'base.html' %}{% block title %} Gif Gif {% endblock %} {% block content %}

<div class="form_containter">
    <form action="/">
    <p>
        <input class="typehead" type="text" name="search" placeholder="Search..."/>
    </p> 
    </form>

    <button type="submit" name="button" value="trending" class="btn btn-primary">
        trending gifs 
    </button>

</div>
{% endblock %}
<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->

<!-- TODO: Make an HTML form containing a search box and a submit button to add
    the search term to the query string. The form should have a target of '/' to
    send us to the same route. -->

<!-- TODO: Make a for loop to loop over GIFs passed in from the server -->

<!-- TODO: For each gif, include the 'gif.html' template to display it -->